<nav class="dw-navbar navbar navbar-expand-lg bg-body-tertiary shadow-sm">
  <div class="container">
    <a class="navbar-brand d-none d-md-block" href="#">DoktarWeather</a>
    <div class="d-flex">
      <h5 class="me-3 my-0">{{getSelectedLocationName()}}, {{getSelectedCountryCode()}}</h5>
    </div>
    <div class="d-flex">
      <button type="button" class="btn btn-outline-secondary fs-6 mx-1" (click)="launchCountrySelector()">{{getSelectedCountryCode()}}</button>
      <button type="button" class="btn btn-light border mx-1" (click)="launchSettings()"><i class="fas fa-cog"></i></button>
    </div>
  </div>
</nav>

