<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Settings</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <div class="input-group">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="toggleTemperatureUnit($event)" [checked]="isUnitFahrenheitSelected()">
          <label class="form-check-label" for="flexSwitchCheckDefault">Use Fahrenheit</label>
        </div>
      </div>
    </div>
  </form>
</div>
